doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-toggle.min.css')
    script(type='text/javascript' src='javascripts/jquery.min.js')
    script(type='text/javascript' src='javascripts/bootstrap.min.js')
    script(type='text/javascript' src='javascripts/bootstrap-toggle.min.js')
  body
    block content
